	@charset "UTF-8";
	@@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
	@font-face {
		font-family:"fontelogo";
		src: url("../_fonts/bubblegum-sans-regular.otf");
	}
	
	body {
		background-color: #dddddd;
			/* cor do corpo */
		color: rgba(0,0,0,1);
			/**/
		font-family: arial, sans-serif;
	}
	
	div#interface {
			/* edição de todo o conteúdo do site */
		width: 900px;
			/* largura*/
		background: #ffffff;
			/* cor de fundo do site */
		margin: -20px auto 0px auto;
			/* definindo o tamanho das margens sempre respeitando a ordem de edição (cima, direita, baixo e esquerda)*/
		box-shadow: 0px 0px 10px grey;
			/* sombra da interface */
		padding: 10px ;
			/* tamanho da margem pra dentro */
	}
	
	p {
		text-align: justify;
		text-indent: 50px;
	}
	
	a {
		color: #606060;
		text-decoration: none;
	}
	
	a:hover{
		text-decoration: underline;
	}
	
	header#cabecalho img#icone {
			/* edição da imagem*/
		position: absolute; 
		left: 970px;
			/* deslocamento da esquerda */
		top: 70px;
			/* deslocamento do topo */
	}		
			
	header#cabecalho {
		border-bottom: 1px #606060 solid;
		height: 150px;
		background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;	
	}		
	
	header#cabecalho h1{
		font-family: fontelogo, sans-serif ; 
		font-size: 30pt;
		color: #606060;
		text-shadow: 1px 1px 1px rgba(0,0,0,.6);
		padding: 0px; 
		margin-bottom: 0px;
	}
	
	header#cabecalho h2{
		font-family: 'Titillium Web', sans-serif;
		color: #888888;
		font-size: 15pt;
		padding: 0px; 
		margin-top: 0px;
	}
		
	figure.foto-legenda { 
			
			/* formatação da imagem como objeto */
		position: relative;
			/* usado para os objetos filhos de "figure" se basearem como objeto relativo */
		border: 8px solid white; 
			/* adciona uma borda (pixel, tipo e cor) */
		box-shadow: 1px 1px 4px black; 
			/* sombra (deslocamento horizontal, vertical, espalhamento e a cor */
	}
	
	figure.foto-legenda img{ 
			/* usado pra adequar a foto de acordo com o navegador, e isso equilibra o tamanho da imagem com o tanho da borda*/
		width: 100%;  
			/* largura da imagem */
		height: 100%;  
			/* altura da imagem*/ 
	}
	figure.foto-legenda figcaption{  
			/* formatação da legenda */
		opacity: 0;
			/* opacidade */
		position: absolute; 
			/* posição qe relaciona ao objeto relacional  */
		top: 0px; 
			/* posição ao top do objeto relacionado */
		background-color: rgba(0,0,0,.4);  
			/* dar cor ao fundo da legenda com configuração de opacidade */
		color: white;  
			/* cor da letra */
		width: 100%;
			/* ocupação da borda*/
		height: 100%;  
			/* ocupação da borda */
		padding: 10px; 
			/* aumenta o tamanho da borda */
		box-sizing: border-box;
			/* cria um espaçamento dentro da borda pra legenda não vazar dela */
		transition: opacity 1s; 
			/* transição pra mostrar o objeto */
	}
	
	figure.foto-legenda:hover figcaption {  
			/* me da uma função especifica quando passar o mouse por cima do objeto */
		opacity: 1; 
	}
	
	/* FORMATAÇÃO DO MENU */
	nav#menu { 
			/* "nav" é a tag de formatação, "#" é o id usado na tag, "menu o indentificador"*/
		display: block;
			/* interpreta o objeto como um bloco */
	}
	
	nav#menu ul{ 
			/* formatação aplicado somente a configuração da lista*/
		list-style: none; 
			/* valor aplicado para a marcação da lista sumir*/
		text-transform: uppercase;
			/* todas as letras ficam maiusculas*/
		position: absolute;
			/* absoluta fica livre no site, relativa fica preso ao objeto coitainer */
		top: -20px;
			/* posição do objeto na vertical */
		left: 470px;
			/* posição do objeto na horizontal */
	}
	
	nav#menu li{
			/* formatação aplicada aos itens da lista */
		display: inline-block;
			/* formatação pra mostrar os itens numa mesma linha*/
		background-color: #dddddd;
			/* cor de fundo dos itens */
		padding: 10px;
			/* cria um espaço entre as caixas dentro do objeto */
		margin: 2px;
			/* cria um espaço fora do ojeto*/
		transition: background-color 1s;
			/* transição da mudança de cor do objeto */
	}
	
	nav#menu li:hover{ 
			/* efeito de mudança ao passar o mouse */
		background-color: #606060; 
			/* cor da mudança */
	}
	
	nav#menu h1 { 
			/* formatação pro titulo H1*/
		display: none;
			/* função pra fazer o título sumir*/
	}
	
	nav#menu a {
			/* formatação dos links */
		color: #000000;
			/* cor do link */
		text-decoration: none;
			/* formatação pra tirar o sublinhado */
	}
	
	nav#menu a:hover { 
			/* mudança de cor do link */
		color: #ffffff;
			/* cor do texto quando passa o mouse por cima */
	}
	
	section#corpo{
		display: block;
		width: 460px;
		float: left;
		border-right: 1px solid #606060;
		padding-right: 20px;
		padding-bottom: 50px;
	}
	
	aside#lateral{
		display: block;
		width: 390px;
		float: right;	
		text-align: left;
		padding: 10px;
		background-color: #dddddd;
		margin-top: 10px;
		box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	}
	aside#lateral h1{
		font-family: fontelogo, sans-serif;
		font-size: 20pt;
		color: #606060;
		margin-top: 0px;
	}
	
	aside#lateral h2{
		background-color: #606060;
		font-size: 13pt;
		color: white;
		padding: 5px;
	}
	
	footer#rodape{
		clear: both;
		border-top: 1px solid #606060;
	}
	
	footer#rodape p{
		text-align: center;
	}
	
	table#tabelaspec {
		border: 1px solid #606060;
		border-spacing: 0px;
		margin-left: auto;
		margin-right: auto;
	}
	
	table#tabelaspec td{
		border: 1px solid #606060;
		padding: 10px;
		text-align: center;
		vertical-align: middle;
	}
	
	table#tabelaspec td.ce {
		color: #ffffff;
		background-color: #606060;
		vertical-align: top;
		font-weight: bold;
	}
	
	table#tabelaspec td.cd {
		background-color: #cecece;
	}
	
	table#tabelaspec caption{
		color: #888888;
		font-size: 13pt;
		font-weight: bolder;
	}
	
	table#tabelaspec caption span{
		display: block;
		float: right;
		color: #000000;
		font-size: 8pt;
		margin-top: 10px;
	}
	
	article#noticia-principal h2 {
		font-size: 13pt;
		color: #606060;
		background-color: #dddddd;
		padding: 5px 0px 5px 10px;
		margin: 10px 0px 10px 0px;
	}
	
	header#cabecalho-artigo h1 {
		font-family: fontlogo, sans serif;
		font-size: 20pt;
		color: #606060;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	
	header#cabecalho-artigo h2 {
		font-size: 13pt;
		color: #cecece;
		background-color: #ffffff;
		margin: 0px;
	}
	header#cabecalho-artigo h3 {
		font-size: 10pt;
		color: #888888;
	} 
	
	.direita{
		text-align: right;
	}
	
	video#filme01{
		display: block;
		float: center;
		width: 445px;
		height: 258px;
		background-color: #dddddd;
		margin-top: 10px;
		box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	}
	
	video#filme02{
		display: block;
		float: center;
		width: 385px;
		background-color: #dddddd;
		margin-top: 10px;
		box-shadow: 2px 2px 2px rgba(0,0,0,.5);
	}